apiVersion: v1
kind: Service
metadata:
  name: k8s-control-panel-service
  namespace: k8s-control-panel
  labels:
    app: k8s-control-panel
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: k8s-control-panel 